<p id="notice"><%= notice %></p>

<h1>Listing Trackings</h1>

<table>
  <thead>
    <tr>
      <th>Chatwork</th>
      <th>Name</th>
      <th>Tracking type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trackings.each do |tracking| %>
      <tr>
        <td><%= tracking.chatwork_id %></td>
        <td><%= tracking.name %></td>
        <td><%= tracking.tracking_type %></td>
        <td><%= link_to 'Show', tracking %></td>
        <td><%= link_to 'Edit', edit_tracking_path(tracking) %></td>
        <td><%= link_to 'Destroy', tracking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tracking', new_tracking_path %>
